@import "./base.css";

a {
  text-decoration: none;
  color: var(--alternative-color);
  transition: 0.4s;
}

/* route transitions */
.route-enter-from {
  opacity: 0;
}

.route-enter-active {
  transition: all 0.4s ease-out;
}

.route-leave-to {
  opacity: 0;
}

.route-leave-active {
  transition: all 0.4s ease-in;
}